<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Properties>
        <Property name="filename">visualizerLauncherDir/output.log</Property>
    </Properties>
    <ThresholdFilter level="all"/>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%m MDC%X%n"/>
        </Console>
        <Console name="FLOW">
            <!-- this pattern outputs class name and line number -->
            <PatternLayout pattern="%C{1}.%M %m %ex%n"/>
            <filters>
                <MarkerFilter marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
            </filters>
        </Console>
        <File name="File" fileName="${filename}" immediateFlush="true">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <!--<Loggers>
        <Logger name="org.apache.logging.log4j.test1" level="debug" additivity="false">
            <ThreadContextMapFilter>
                <KeyValuePair key="test" value="123"/>
            </ThreadContextMapFilter>
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org" level="all" additivity="false">
            <Property name="user">${sys:user.name}</Property>
            <AppenderRef ref="File">
                <ThreadContextMapFilter>
                    <KeyValuePair key="test" value="123"/>
                </ThreadContextMapFilter>
            </AppenderRef>
            <AppenderRef ref="STDOUT" level="error"/>
        </Logger>


    </Loggers>-->
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="all" />
            <AppenderRef ref="File" level="all" />
        </Root>
    </Loggers>

</Configuration>